<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <base href="{{ baseHref }}">

  <meta content="{{ metaDescription }}" name="description">
  <meta content="{{ metaPublisher }}" name="author">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="phpMyFAQ {{ phpmyfaqVersion }}" name="application-name">
  <meta content="{{ metaRobots }}" name="robots">
  <meta content="7 days" name="revisit-after">

  {% if isDebugEnabled %}<link href="{{ baseHref }}assets/dist/debugMode.css" rel="stylesheet">{% endif %}

  <link href="{{ baseHref }}assets/dist/styles.css" rel="stylesheet">
  <style>
    {{ customCss }}
  </style>
  <link href="{{ baseHref }}assets/images/favicon.ico" rel="shortcut icon">
  <link href="{{ currentPageUrl }}" rel="canonical">

  {% if richSnippetsEnabled %}
  {% block richSnippets %}{% endblock %}
  {% endif %}

</head>
<body class="pmf-page-wrapper" dir="{{ dir }}">

<nav class="p-3 text-bg-pmf-nav border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{{ faqHome }}" id="phpmyfaq-logo" title="{{ header }}"
         class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img height="40" src="{{ baseHref }}assets/images/logo-transparent.svg" alt="phpMyFAQ">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% if not isMaintenanceMode %}
          {% for item in topNavigation %}
            <li class="pmf-nav-link ">
              <a class="pmf-nav-link {{ item['active'] }}" href="{{ item['link'] }}">{{ item['name'] }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown"
           aria-expanded="false">
          {{ msgLoginUser }}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small">
          {% if not isUserLoggedIn %}
            {% if isUserRegistrationEnabled %}
            <li><a class="dropdown-item" href="./user/register">{{ msgRegisterUser }}</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="./login">{{ msgLoginUser }}</a></li>
          {% else %}
            <li><a class="dropdown-item" href="./user/ucp">{{ msgUserControlDropDown }}</a></li>
            <li><a class="dropdown-item" href="./user/bookmarks">{{ msgBookmarks }}</a></li>
            <li><a class="dropdown-item" href="./admin">{{ msgAdmin }}</a></li>
            <li><a class="dropdown-item" href="./user/request-removal">{{ msgUserRemoval }}</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
            <li><a class="dropdown-item" href="./user/logout?csrf={{ csrfLogout }}">{{ msgLogoutUser }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- SEARCH -->
{% if not isMaintenanceMode %}
<div class="container my-5">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search">
        <form action="./search.html" id="search" method="post" role="search">
          <i class="bi bi-search"></i>
          <input autocomplete="off" type="text" class="form-control form-control-lg" id="pmf-search-autocomplete"
                 name="search" placeholder="{{ searchBox }} ..." maxlength="255" value="{{ searchTerm }}">
          <button type="submit" class="btn btn-primary btn-lg">{{ searchBox }}</button>
        </form>
      </div>
      <div>
        <small class="form-text text-muted">
          <a class="help" href="./search.html">{{ msgAdvancedSearch }}</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- BREADCRUMB -->
{% if showBreadcrumb %}
<section class="pmf-breadcrumbs">
  <div class="container">{{ breadcrumbHeadline }}</div>
</section>
{% endif %}

<!-- MAIN CONTENT -->
<section class="my-3" id="wrapper">
  <div class="container">
  {% if not isMaintenanceMode %}
    {% block content %}{% endblock %}
  {% else %}
    We're currently in maintenance mode. Please come back later.
  {% endif %}
  </div>
</section>

<footer class="pt-4 text-bg-pmf-nav">
  <div class="container">
    {% if not isMaintenanceMode %}
    <div class="row">
      <div class="col-md-8 mb-md-0 mb-4">
        <h5 class="footer-heading">{{ msgTagCloudHeader }}</h5>
        <p class="card-text pmf-tag-cloud">{{ renderedTags | raw }}</p>
      </div>
      <div class="col-md-4 mb-md-0 mb-4">
        <h5 class="footer-heading">{{ languageBox }}</h5>
        <form accept-charset="utf-8" action="{{ renderUri }}" method="post" class="subscribe-form">
          <div class="form-group d-flex">
            {{ switchLanguages | raw }}
            <input name="action" type="hidden" value="">
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="w-100">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-6 mb-0 text-white">
          powered with ❤️ and ☕️ by
          <a class="link-light text-decoration-none" target="_blank" href="https://www.phpmyfaq.de/">phpMyFAQ</a>
          {{ version }}
        </p>

        <ul class="nav col-md-6 justify-content-end w-100">
          {% if not isMaintenanceMode %}
            {% for item in footerNavigation %}
              <li class="nav-item">
                <a class="pmf-nav-link-footer {{ item['active'] }}" href="{{ item['link'] }}">{{ item['name'] }}</a>
              </li>
            {% endfor %}
            {% if isPrivacyLinkEnabled %}
            <li class="nav-item">
              <a class="pmf-nav-link-footer" target="_blank" href="{{ urlPrivacyLink }}">{{ msgPrivacyNote }}</a>
            </li>
            {% endif %}
            {% if isCookieConsentEnabled %}
            <li class="nav-item">
              <a id="showCookieConsent" class="pmf-nav-link-footer" href="#">{{ cookiePreferences }}</a>
            </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Frontend toasts -->
<div class="toast-container position-fixed bottom-0 start-0 mt-5 p-3">
  <div id="pmf-notification" class="toast align-items-center text-bg-success shadow border-0" role="alert"
       aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="pmf-notification-message">
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
      </button>
    </div>
  </div>

  <div id="pmf-notification-error" class="toast align-items-center text-bg-danger shadow border-0" role="alert"
       aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="pmf-notification-error-message">
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
      </button>
    </div>
  </div>
</div>

{% if isCookieConsentEnabled %}
<script src="./assets/dist/cookieConsent.js"></script>
{% endif %}
<script src="./assets/dist/frontend.js"></script>
</body>
</html>
