{% extends 'index.twig' %}

{% block content %}
<section class="col-12">

  <div class="row mb-2">
    <div class="col">
      <div class="spinner-border text-primary d-none" id="loader" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div id="pmf-password-response"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="card shadow">
        <div class="card-header">
          <h4 class="card-title">{{ 'lostPassword' | translate }}</h4>
        </div>
        <div class="card-body">
          <form id="pmf-password-form" action="#" method="post" accept-charset="utf-8" class="needs-validation"
                novalidate>
            <input type="hidden" name="lang" id="lang" value="{{ lang }}">

            <div class="row mb-2">
              <label class="col-3 form-control-label" for="username">{{ 'ad_auth_user' | translate }}</label>
              <div class="col-9">
                <input class="form-control" type="text" name="username" id="username" required autofocus>
              </div>
            </div>

            <div class="row mb-2">
              <label class="col-3 form-control-label" for="email">{{ 'msgEmail' | translate }}</label>
              <div class="col-9">
                <input class="form-control" type="email" name="email" id="email" required>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-sm-12 text-end">
                <button class="btn btn-primary" type="submit" id="pmf-submit-password" data-pmf-form="change-password">
                  {{ 'msgNewContentSubmit' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
