{% extends '@admin/index.twig' %}

{% block content %}
  <form action="#" id="pmf-admin-report-form" method="post" accept-charset="utf-8">
    {{ csrfTokenInput | raw }}
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
      <h1 class="h2">
        <i aria-hidden="true" class="bi bi-filetype-csv"></i> {{ 'ad_menu_reports' | translate }}
      </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button id="pmf-admin-create-report" class="btn btn-outline-primary" type="button">
            {{ 'ad_stat_report_make_report' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row mb-2">
        <h4>{{ 'ad_stat_report_fields' | translate }}</h4>
      </div>
      <div class="row g-3">
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="category" name="category"
                 value="1" checked>
          <label class="form-check-label" for="category">
            {{ 'ad_stat_report_category' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="sub_category" name="sub_category"
                 value="1" checked>
          <label class="form-check-label" for="sub_category">
            {{ 'ad_stat_report_sub_category' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="translations"
                 name="translations" value="1" checked>
          <label class="form-check-label" for="translations">
            {{ 'ad_stat_report_translations' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="language" name="language"
                 value="1" checked>
          <label class="form-check-label" for="language">
            {{ 'ad_stat_report_language' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="id" name="id" value="1" checked>
          <label class="form-check-label" for="id">
            {{ 'ad_stat_report_id' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="sticky" name="sticky" value="1"
                 checked>
          <label class="form-check-label" for="sticky">
            {{ 'ad_stat_report_sticky' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="title" name="title" value="1"
                 checked>
          <label class="form-check-label" for="title">
            {{ 'ad_stat_report_title' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="creation_date"
                 name="creation_date" value="1" checked>
          <label class="form-check-label" for="creation_date">
            {{ 'ad_stat_report_creation_date' | translate }}
          </label>
        </div>

        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="owner" name="owner" value="1"
                 checked>
          <label class="form-check-label" for="owner">
            {{ 'ad_stat_report_owner' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="last_modified_person"
                 name="last_modified_person" value="1" checked>
          <label class="form-check-label" for="last_modified_person">
            {{ 'ad_stat_report_last_modified_person' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="url" name="url" value="1" checked>
          <label class="form-check-label" for="url">
            {{ 'ad_stat_report_url' | translate }}
          </label>
        </div>
        <div class="col form-check">
          <input class="form-check-input" type="checkbox" id="visits" name="visits" value="1"
                 checked>
          <label class="form-check-label" for="visits">
            {{ 'ad_stat_report_visits' | translate }}
          </label>
        </div>
      </div>

    </div>
  </form>
{% endblock %}
