<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <i aria-hidden="true" class="bi bi-tasks"></i>
    {{ adminHeaderSessionsPerDay }} {{ currentDay }}
  </h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>{{ msgIpAddress }}</th>
          <th>{{ msgSessionDate }}</th>
          <th>{{ msgSession }}</th>
        </tr>
      </thead>
      <tbody>
      {% for sid, data in sessionData %}
        <tr>
          <td>{{ data.ip }}</td>
          <td>{{ data.time | date }}</td>
          <td><a href="?action=viewsession&id={{ sid }}">{{ sid }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
