<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>phpMyFAQ {{ newVersion }} Update</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="phpMyFAQ {{ newVersion }}">
  <meta name="copyright" content="(c) 2001-{{ currentYear }} phpMyFAQ Team">
  <link rel="stylesheet" href="../assets/public/styles.css">
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
</head>
  <body>

    <nav class="p-3 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="pmf-nav-link">
              <a href="{{ documentationUrl }}" class="pmf-nav-link" target="_blank">
                Documentation
              </a>
            </li>
            <li class="pmf-nav-link">
              <a href="https://www.phpmyfaq.de/support" class="pmf-nav-link" target="_blank">
                Support
              </a>
            </li>
            <li class="pmf-nav-link">
              <a href="https://forum.phpmyfaq.de/" class="pmf-nav-link" target="_blank">
                Forums
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main">
      <section id="phpmyfaq-setup-form">
        <div class="container shadow-lg p-5 mt-5 bg-light-subtle">
          <div class="px-4 pt-2 my-2 text-center border-bottom">
            <h1 class="display-4 fw-bold">phpMyFAQ {{ newVersion }} Update</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">
                Did you already read our <a target="_blank" href="{{ documentationUrl }}">documentation</a>
                carefully before starting the phpMyFAQ setup?
              </p>
            </div>
          </div>

          <div class="form-header d-flex my-4">
            <span class="stepIndicator">Update information</span>
            <span class="stepIndicator">Configuration backup</span>
            <span class="stepIndicator">Database updates</span>
          </div>

          {{ include('@setup/update/step' ~ currentStep ~ '.twig') }}

          {% if checkBasicError %}
            <div class="alert alert-danger my-5" role="alert">
              {{ checkBasicError | raw }}
            </div>
          {% endif %}

        </div>
        </section>
    </main>

    <footer class="setup-footer container mt-1">
      <p class="text-end">
        &copy; 2001-{{ currentYear }} <a target="_blank" href="https://www.phpmyfaq.de/">phpMyFAQ Team</a>
      </p>
    </footer>

    <script src="../assets/public/update.js"></script>
  </body>
</html>
