            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <form action="{{ formAction }}" method="post" class="pull-right">
                {{ languageSelector|raw }}
            </form>
        </div>
        <div class="row">
            <p class="copyright pull-right">
                Proudly powered by <strong>phpMyFAQ {{ pmfVersion }}</strong> |
                <a href="http://www.phpmyfaq.de/documentation.php" target="_blank">phpMyFAQ documentation</a> |
                Follow us on <a href="http://twitter.com/phpMyFAQ">Twitter</a> |
                &copy; 2001-2013 <a href="http://www.phpmyfaq.de/" target="_blank">phpMyFAQ Team</a>
            </p>
        </div>
    </div>
    {% if constant('DEBUG') %}
    <div class="container">DEBUG INFORMATION:<br>{{ debugInformation|raw }}</div>
    {% endif %}
</footer>

{% if isAuthenticated %}
<iframe id="keepPMFSessionAlive" src="{{ sessionKeepaliveUrl }}" style="border: none;" width="0" height="0"></iframe>
{% if wysiwygActive %}
<!-- KindEditor -->
{% autoescape 'js' %}
<script>
    /*<![CDATA[*/ //<!--
    $().tooltip({placement: 'bottom'})

    KindEditor.ready(function(K) {
        window.editor = K.create('#answer', {
            width: '675px',
            height: '300px',
            minWidth: '650px'
        });
    });
    /**
     *
     */
    function phpMyFAQSave()
    {
        $('#saving_data_indicator').html('<img src="images/indicator.gif" /> Saving ...');
        // Create an input field with the save button name
        var input = document.createElement("input");
        input.setAttribute('name', $('input:submit')[0].name);
        input.setAttribute('id', 'temporarySaveButton');
        $('#answer')[0].parentNode.appendChild(input);
        // Submit the form by an ajax request
        var data = {action: "ajax", ajax: '{{ tinyMceSaveCallbackAction }}'};
        var id = $('#answer')[0].parentNode.parentNode.id;
        $.each($('#' + id).serializeArray(), function(i, field) {
            data[field.name] = field.value;
        });
        $.post("index.php", data, null);
        $('#saving_data_indicator').html('{{ PMF_LANG['ad_entry_savedsuc'] }}');
        $('#temporarySaveButton').remove();
    }

    // --> /*]]>*/
</script>
{% endautoescape %}
<!-- /KindEditor -->

<!-- SyntaxHighlighter -->
<script src="../assets/js/syntaxhighlighter/scripts/shCore.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushBash.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushDiff.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushPlain.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushRuby.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushScala.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushVb.js"></script>
<script src="../assets/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="../assets/js/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="../assets/js/syntaxhighlighter/styles/shThemeDefault.css"/>
<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = '../js/syntaxhighlighter/scripts/clipboard.swf';
    SyntaxHighlighter.all();
</script>
<!-- /SyntaxHighlighter -->
{% endif %}
{% endif %}
</body>
</html>
