<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <i aria-hidden="true" class="fa fa-list-alt"></i>
    {{ msgHeaderFAQOverview }} <span class="badge bg-danger">PREVIEW</span>
  </h1>
</div>

{% if categories is empty %}
  <div class="alert alert-danger" role="alert">
    {{ errorNoRecords }}
  </div>
{% endif %}

<!--
<pre>
{{ dump(numberOfRecords) }}
</pre>
-->

<div class="accordion" id="pm-admin-faq-overview">
  {% for category in categories %}
  <div class="accordion-item">
    <div class="accordion-header category-header-indent-{{ category.indent }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#category-id-{{ category.id }}">

        <span class="">{{ category.name }}</span>
        <span class="badge bg-secondary mx-1">{{ numberOfRecords[category.id] ?? 0 }} {{ msgRecords }}</span>

      </button>
    </div>
    <div id="category-id-{{ category.id }}" class="accordion-collapse collapse"
         data-bs-parent="#category-id-{{ category.id }}">
      <div class="accordion-body">
        <pre>
          {{ dump(category) }}
        </pre>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
