{% extends '@admin/index.twig' %}


{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <i aria-hidden="true" class="bi bi-person-raised-hand"></i> {{ 'msgOrphanedFAQs' | translate }}
    </h1>
  </div>

  <p>
    {{ 'msgOrphanedFAQsDescription' | translate }}
  </p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'msgLanguage' | translate }}</th>
        <th>{{ 'msgQuestion' | translate }}</th>
      </tr>
    <tbody>
    {% for faq in orphanedFaqs %}
      <tr>
        <td>{{ faq.faqId }}</td>
        <td>{{ faq.language }}</td>
        <td>
          <a href="{{ faq.url }}">{{ faq.question }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
