<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <i aria-hidden="true" class="fa fa-wrench"></i>
        {{ adminHeaderElasticsearch }}
        <?= Translation::get('ad_menu_elasticsearch') ?>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary pmf-elasticsearch" data-action="create">
                <i aria-hidden="true" class="fa fa-searchengine"></i> {{ adminElasticsearchButtonCreate }}
            </button>

            <button class="btn btn-sm btn-secondary pmf-elasticsearch" data-action="import">
                <i aria-hidden="true" class="fa fa-search-plus"></i> {{ adminElasticsearchButtonIndex }}
            </button>

            <button class="btn btn-sm btn-danger pmf-elasticsearch" data-action="drop">
                <i aria-hidden="true" class="fa fa-trash"></i> {{ adminElasticsearchButtonDelete }}
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="pmf-elasticsearch-result"></div>
        <h5>{{ adminElasticsearchStats }}</h5>
        <div id="pmf-elasticsearch-stats"></div>
    </div>
</div>
