<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <i aria-hidden="true" class="bi bi-speedometer"></i>
    {{ adminHeaderDashboard }}
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="?action=config">
        {% if isMaintenanceMode %}
          <button class="btn btn-outline-danger">{{ adminDashboardMaintenance }}</button>
        {% else %}
          <button class="btn btn-outline-success">{{ adminDashboardOnline }}</button>
        {% endif %}
      </a>
    </div>
  </div>
</div>

{% if isDebugMode %}
  <section class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        phpMyFAQ is currently running in debug mode.
        Debug mode may expose sensitive information and is intended for development purposes only.
        We strongly recommend disabling debug mode for security reasons.
        You can disable debug mode in the <code>src/Bootstrap.php</code> file.
      </div>
    </div>
  </section>
{% endif %}

{% if hasVersionConflict %}
  <section class="row mb-3">
    <div class="col-12">
      <div class="card bg-danger text-white shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="mb-0 font-weight-bold text-gray-800">
                The phpMyFAQ version number stored in your database ({{ currentVersionDatabase }}) is lower than the
                version number of the installed application ({{ currentVersionApp }}), please update
                <a href="../setup/update.php" class="text-white-50">your installation here</a> to avoid an unintended
                behaviour.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if isDevelopmentVersion %}
  <section class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        phpMyFAQ is currently in development ({{ currentVersionApp }}).
        And therefore not yet ready for production.
        Please <a target="_blank" href="https://github.com/thorsten/phpMyFAQ/issues" class="alert-link">report all
          issues on GitHub</a>.
        Thank you very much!
      </div>
    </div>
  </section>
{% endif %}

<section class="row">

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card text-bg-primary bg-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold mb-1">{{ adminDashboardInfoVisits }}</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adminDashboardInfoNumVisits }}</div>
          </div>
          <div class="col-auto">
            <i class="bi bi-bar-chart h1 text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card text-bg-success bg-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold mb-1">{{ adminDashboardInfoFaqs }}</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adminDashboardInfoNumFaqs }}</div>
          </div>
          <div class="col-auto">
            <i class="bi bi-list-check h1 text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card text-bg-info bg-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold mb-1">{{ adminDashboardInfoComments }}</div>
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ adminDashboardInfoNumComments }}</div>
          </div>
          <div class="col-auto">
            <i class="bi bi-chat-left-text h1 text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card text-bg-warning bg-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold mb-1">{{ adminDashboardInfoQuestions }}</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adminDashboardInfoNumQuestions }}</div>
          </div>
          <div class="col-auto">
            <i class="bi bi-question-circle h1 text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if hasUserTracking %}
  <section class="row">
    <div class="col-8 mb-4">
      <div class="card shadow h-100 mb-4">
        <h5 class="card-header py-3">
          <i aria-hidden="true" class="bi bi-bar-chart"></i> {{ adminDashboardHeaderVisits }}
        </h5>
        <div class="card-body">
          <div class="pmf-charts">
            <canvas id="pmf-chart-visits" width="200" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card shadow h-100 mb-4">
        <h5 class="card-header py-3">
          <i aria-hidden="true" class="bi bi-bar-chart"></i> {{ adminDashboardHeaderTopTen }}
        </h5>
        <div class="card-body">
          <div class="pmf-charts">
            <canvas id="pmf-chart-topten" width="400" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="row">

  <div class="col-3 mb-4">
    <div class="card shadow mb-4">
      <h5 class="card-header py-3">
        <i aria-hidden="true" class="bi bi-ban"></i> {{ adminDashboardHeaderInactiveFaqs }}
      </h5>
      <div class="card-body">
        <ul class="list-unstyled">
          {% if adminDashboardInactiveFaqs|length > 0 %}
            {% for inactiveFaqs in adminDashboardInactiveFaqs %}
              <li>
                <i class="bi bi-question-circle"></i>
                <a href="{{ inactiveFaqs.url }}">{{ inactiveFaqs.question }}</a>
              </li>
            {% endfor %}
          {% else %}
            <li>n/a</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% if hasPermissionEditConfig %}
    <div class="col-3 mb-4">
      <div class="card shadow mb-4">
        <h5 class="card-header py-3">
          <i aria-hidden="true" class="bi bi-check"></i> {{ adminDashboardHeaderOnlineInfo }}
        </h5>
        <div class="card-body">
          {% if showVersion %}
            <div id="phpmyfaq-latest-version">
              <div class="spinner-border text-secondary d-none" id="version-loader" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          {% else %}
            <form action="./index.php"
                  method="post" accept-charset="utf-8">
              <input type="hidden" name="param" value="version" />
              <button class="btn btn-info" type="submit">
                {{ adminDashboardButtonGetLatestVersion }}
              </button>
            </form>
            {% if adminDashboardShouldUpdateMessage %}
              <div class="alert alert-danger">
                {{ adminDashboardLatestVersionMessage }}:
                <strong>phpMyFAQ {{ adminDashboardVersions.stable }}</strong>
                <hr>
                {{ adminDashboardShouldUpdateMessage }}
              </div>
            {% endif %}

            {% if adminDashboardErrorMessage %}
              <div class="alert alert-danger">
                {{ adminDashboardErrorMessage }}
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card shadow mb-4">
        <h5 class="card-header py-3">
          <i aria-hidden="true" class="bi bi-check bi-fw"></i> {{ adminDashboardHeaderVerification }}
        </h5>
        <div class="card-body">
          {% if showVerificationResult %}

            {% if adminDashboardVersionMismatch %}
              <div class="alert alert-danger">
                phpMyFAQ version mismatch — no verification possible.
              </div>
            {% endif %}

            {% if adminDashboardVerificationIssues %}
              <div class="alert alert-danger">
                {{ adminDashboardVerificationNotOkay }}
              </div>
              <ul>
                {% for key, issue in adminDashboardVerificationIssues %}
                  <li>
                    <span class="pmf-popover" data-bs-toggle="popover" data-bs-container="body"
                          title="SHA-1"
                          data-bs-content="{{ key }}">
                        {{ issue }}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if adminDashboardErrorMessageVerification %}
              <div class="alert alert-danger">
                {{ adminDashboardErrorMessageVerification }}
              </div>
            {% endif %}

          {% else %}
            <form action="./index.php" method="post" accept-charset="utf-8">
              <input type="hidden" name="getJson" value="verify">
              <button class="btn btn-info" type="submit">
                {{ adminDashboardButtonVerification }}
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</section>
