        </div>
      </main>

      <div class="toast-container position-fixed top-0 start-50 translate-middle-x mt-5 p-3">
        <div id="pmf-notification" class="toast align-items-center text-bg-primary shadow border-0" role="alert"
             aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body" id="pmf-notification-message">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close">
            </button>
          </div>
        </div>

        <div id="pmf-notification-error" class="toast align-items-center text-bg-danger shadow border-0"
             role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body" id="pmf-notification-error-message">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close">
            </button>
          </div>
        </div>
      </div>

      <!-- Session Warning Modal -->
      <div class="modal fade" id="sessionWarningModal" tabindex="-1" aria-labelledby="sessionWarningModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="sessionWarningModalLabel">
                {{ msgSessionExpiringSoon }}
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ msgModalSessionWarning }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                {{ msgNoLogMeOut }}
              </button>
              <button type="button" class="btn btn-primary" id="pmf-button-reload-page">
                {{ msgYesKeepMeLoggedIn }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
              Proudly {{ msgPoweredBy }} |
              <a target="_blank" class="text-decoration-none"
                 href="https://en.isupportukraine.eu/trombinoscope">
                #StandWithUkraine
              </a>
            </div>
            <div>
              <a target="_blank" rel="noopener" href="{{ documentationUrl }}">
                {{ 'msgDocumentation' | translate }}
              </a>
              &middot;
              <a target="_blank" rel="noopener" href="https://www.buymeacoffee.com/thorsten">
                Buy us a coffee
              </a>
              &middot;
              <a target="_blank" rel="noopener" href="https://facebook.com/phpMyFAQ">
                <i aria-hidden="true" class="bi bi-facebook"></i>
              </a>
              &middot;
              &copy; 2001 - {{ currentYear }}
              <a target="_blank" rel="noopener" href="{{ phpMyFaqUrl }}">
                phpMyFAQ Team
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {% if isUserLoggedIn %}
  <iframe id="keepPMFSessionAlive" src="./session.keepalive.php?lang={{ currentLanguage }}" width="0" height="0"
          style="display: none;" name="keep-phpmyfaq-session-alive"></iframe>
  {% endif %}

  <script src="../assets/dist/backend.js?{{ currentTimeStamp}}"></script>
</body>
</html>
